{%- if product.description !=blank -%}
<div class="custom-meta-description collapsibles-wrapper">
    <button type="button"
        class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="bbq-description-meta"
        {% if force_open %}aria-expanded="true"{% endif %}>   
             Description
        {%- render 'collapsible-icons' -%}
    </button>
    
    <div id="bbq-description-meta"
        class="bbq-description collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
     
        {% if force_open %}style="height: auto;"{% endif %}>
        <div class="collapsible-content__inner rte">     
            <div id="desc-content">
                {{ product.description }}
            </div>
        </div>
    </div>

</div>
{%- endif -%}

{%- if product.metafields.bbq.specification_heading_title !=blank -%}
<div class="collapsibles-wrapper" style="margin: -30px 0 -30px;">
  <button type="button"
    class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="Product-content-{{ id }}"
    {% if force_open %}aria-expanded="true"{% endif %}>
    {{ product.metafields.bbq.specification_heading_title }}
    {%- render 'collapsible-icons' -%}
  </button>
  <div id="Product-content-{{ id }}"
    class="bbq-description collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
    {% if force_open %}style="height: auto;"{% endif %}>
    <div class="collapsible-content__inner rte">
      <div>
        {%- if product.metafields.bbq.overall_dimensions !=blank -%}
        <div><strong>Overall Dimensions (WxDxH):</strong></div> <p>{{ product.metafields.bbq.overall_dimensions }} </p>
        {% endif %}
        {%- if product.metafields.bbq.cutout_dimensions !=blank -%}
        <div><strong>Cutout Dimensions (WxDxH):</strong></div> <p> {{ product.metafields.bbq.cutout_dimensions }}</p>
        {% endif %}
        {%- if product.metafields.bbq.product_weight !=blank -%}
        <div><strong>Product Weight:</strong></div> <p>{{ product.metafields.bbq.product_weight }}lb</p>
        {% endif %}
        {%- if product.metafields.bbq.number_of_main_burners !=blank -%}
        <div><strong>Number Of Main Burners:</strong></div> <p>{{ product.metafields.bbq.number_of_main_burners }}</p>
        {% endif %}
        {%- if product.metafields.bbq.total_surface_btu !=blank -%}
        <div><strong>Total Surface BTUs:</strong></div> <p>{{ product.metafields.bbq.total_surface_btu }}</p>
        {% endif %}
        {%- if product.metafields.bbq.single_burner_btus !=blank -%}
        <div><strong>Single Burner BTUs:</strong></div> <p>{{ product.metafields.bbq.single_burner_btus }}</p>
        {% endif %}
        {%- if product.metafields.bbq.grill_lights !=blank -%}
        <div><strong>Grill Lights:</strong></div> <p>{{ product.metafields.bbq.grill_lights }}</p>
        {% endif %}
        {%- if product.metafields.bbq.rear_infrared_burner !=blank -%}
        <div><strong>Rear Infrared Burner:</strong></div> <p>{{ product.metafields.bbq.rear_infrared_burner }}</p>
        {% endif %}
        {%- if product.metafields.bbq.rotisserie_kit !=blank -%}
        <div><strong>Rotisserie Kit:</strong></div> <p>{{ product.metafields.bbq.rotisserie_kit }}</p>
        {% endif %}
        {%- if product.metafields.bbq.thermometer !=blank -%}
        <div><strong>Thermometer:</strong></div> <p>{{ product.metafields.bbq.thermometer }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
      
{%- if product.metafields.bbq.shipping_info_heading_title !=blank -%}
  <div class="shipping-information collapsibles-wrapper">
      <button type="button"
        class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="Product-content-shipping-info"
        {% if force_open %}aria-expanded="true"{% endif %}>
        {{ product.metafields.bbq.shipping_info_heading_title }}
        {%- render 'collapsible-icons' -%}
      </button>
      <div id="Product-content-shipping-info"
        class="collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
        {% if force_open %}style="height: auto;"{% endif %}>
        <div class="collapsible-content__inner rte">
          <div>
            {%- if product.metafields.bbq.shipping_weight !=blank -%}
              <div><strong>Shipping Weight:</strong></div> <p> {{ product.metafields.bbq.shipping_weight }}lb</p>
            {% endif %}
            
            {%- if product.metafields.bbq.shipping_dimensions !=blank -%}
              <div><strong>Shipping Dimensions (WxDxH):</strong></div> <p> {{ product.metafields.bbq.shipping_dimensions }}in</p>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endif %}

{% if product.metafields.bbq.file_name != blank %}
<div class="manufacturer-manual collapsibles-wrapper">
    <button type="button"
      class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="Product-content-manufacturer-download"
      {% if force_open %}aria-expanded="true"{% endif %}>
      Manufacturer's Manual
      {%- render 'collapsible-icons' -%}
    </button>
    <div id="Product-content-manufacturer-download"
      class="collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
      {% if force_open %}style="height: auto;"{% endif %}>
      <div class="collapsible-content__inner rte">
        {% for filename in product.metafields.bbq.file_name %} 
        <div>
        <a href="{{ product.metafields.bbq.upload_file[forloop.index0] }}" target="_blank"> {{ product.metafields.bbq.file_name[forloop.index0] }}</a> 
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}