{% if product.metafields.frequently.fbi_heading != blank %}
<div class="frequently-bought-item">
  <h3 class="h3">{{ product.metafields.frequently.fbi_heading }}</h3>
  <div class="fbi-content-wrap">
    {% for frequently in product.metafields.frequently.fbi_related_product %}
    <div class="fbi-inner-content">
      {% assign referenced_product = all_products[product.metafields.frequently.fbi_related_product[forloop.index0]] %}
      {% assign productPrice = referenced_product.price %}
      {%comment%}{% assign priceDiff = referenced_product.price | minus: product.price %}{%endcomment%}
      <div class="fbi_image">
        <a href="{{ referenced_product.url }}">
          <img src="{{ referenced_product | img_url: '300x300'}}">
        </a>
      </div>
      <div class="grid-product__title">{{ referenced_product.title }}</div>
      <div class="grid-product__vendor">{{ product.vendor }}</div>
      <div>
        <p class="fbi_price">{{ productPrice | money }} </p>
        {%comment%}<p>{{ priceDiff | abs | money_with_currency }}</p> {%endcomment%}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}